.input {
    width: 20px;
    height: 20px;
    border: 2px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
}

.input:checked {
    background-color: #8fbc8f;
    border-color: #8fbc8f;
}

.input:checked::after {
    content: "\2713";
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
}