.form {
    display: flex;
    margin: 00px auto;
    width: 350px;
    border-bottom: 3px solid #272727;
}

.form input {
    padding: 8px 10px 8px 0;
    width: 90%;
}

.form input::placeholder {
    font-style: italic;
}

.form button {
    width: 10%;
    background-color: #fff;
}

@media screen and (max-width: 460px) {
    .form {
        width: 100%;
    }
}