.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
}

.table__start {
    font-size: 23px;
    text-align: center;
    color: #8fbc8f;
}

.table__empty,
.table__error {
    font-size: 18px;
    text-align: center;
}

.table__error {
    color: #dc143d;
}