body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    color: #272727;
    background-color: #fff;
    overflow-x: hidden;
    position: relative;
}

body.overlay {
    overflow: hidden;
}

body.overlay::after {
    content: "";
    position: absolute;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    inset: 0;
}

.container {
    max-width: calc(80% + 20px * 2);
    padding: 0 20px;
    margin: 0 auto;
}

.details {
    padding-top: 50px;
}

.images {
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    overflow: hidden;
}

.images>div {
    position: relative;
    display: inline;
    width: 100%;
    height: 100%;
}

.image {
    width: 100%;
    height: (100% - 20px);
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #686868;
    transition: .4s;
    aspect-ratio: 1;
}

.images>div:nth-child(4n+1) .image {
    border: 5px solid #dc143c;
}

.images>div>.image:hover {
    border: 5px solid #ffff99;
    transform: rotate(-45deg);
    transition: .4s;
}

.details {
    display: flex;
    gap: 0 30px;
}

.gallery {
    display: none;
    position: fixed;
    z-index: 100;
    inset: 0;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: fit-content;
    max-width: 90%;
    max-height: 120%;
    aspect-ratio: 1;
    margin: auto;
}

.gallery.gallery-show {
    display: flex;
    flex-direction: row-reverse;
}

.gallery>img {
    width: calc(100% - 30px);
    height: 100%;
    margin: auto;
    display: block;
    object-fit: contain;
}

.close {
    position: relative;
    align-self: flex-start;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    top: 10%;
    transform: translateY(-10%);
}

.btn-remove {
    display: block;
    font-size: 15px;
    margin: 10px auto 0;
}